:root {
  --graphite: rgb(25, 25, 25);
  --light-gray: #363636;
  --sun-gray: #7A7A7A;
  --white: #ffffff;
  --black: #000000;
  --blue: #286FD8;
  --blue-middle: #1d59b5;
  --blue-dark: #144693;
  --red: #BA3232;
  --red-middle: #882020;
  --red-dark: #551212;
  --green: #1FA344;
  --green-middle: #167531;
  --green-dark: #0E431D;
  --orange: #D06400;
  --orange-middle: #9E4C00;
  --orange-dark: #683200;
  --yellow: #E3A400;
  --yellow-middle: #A77800;
  --yellow-dark: #6D4F00
}

@keyframes theme {
  0% {
    margin-left: 0;
    background-image: url(/tochno_ne_cris/icons/sun.svg)
  }

  100% {
    margin-left: 1.315rem;
    background-image: url(/tochno_ne_cris/icons/moon.svg)
  }
}

.theme-switch {
  border: solid 1px rgb(255 255 255/45%)
}

.header-shadow {
  box-shadow: inset rgb(25 25 25/66%) 0 120px 49px -108px
}

header {
  box-shadow: inset transparent 0 120px 49px -108px
}

.header {
  background-color: rgba(25, 25, 25, .611)
}

.header-blur .header {
  background-color: rgba(25, 25, 25, .611)
}

.p-iron {
  background-color: #aaa
}

.p-vip {
  background-color: #ff5
}

.p-vipp {
  background-color: #ff5
}

.p-gold {
  background-color: #ff5
}

.p-premium {
  background-color: #5f5
}

.p-premiump {
  background-color: #5f5
}

.p-diamond {
  background-color: #5ff
}

.p-mvp {
  background-color: #5ff
}

.p-mvpp {
  background-color: #5ff
}

.p-emerald {
  background-color: #0a0
}

.p-sponsor {
  background-color: #fa0
}

.p-netopt {
  background-color: #fa0
}

.p-god {
  background-color: #fa0
}

.p-paradox {
  background-color: #ff54ff
}

.headerlanding header .header {
  transition: .1s;
  background-color: transparent
}

.headerlanding .header-blur > .header {
  transition: .1s;
  background-color: rgba(25, 25, 25, .61)
}
